@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
   
font-style: normal;
}.flaticon-female206:before {
	content: "\e000";
}
.flaticon-male209:before {
	content: "\e001";
}
.flaticon-next15:before {
	content: "\e002";
}
.flaticon-previous11:before {
	content: "\e003";
}
.flaticon-rss8:before {
	content: "\e004";
}
.flaticon-zynga:before {
	content: "\e005";
}
